<ul class="css-slots">
  <% collection.each(function(model) { %>
  <li class="css-slot<% if (model.marked) { %> css-slot-marked<% } %>">
    <% if (model.loaded) { %>
    <h3><%= model.data.name %></h3>
    <h6>Homeworld: <%= model.data.homeworld.name %></h6>
    <% } %>
  </li>
  <% }); %>
</ul>

<div class="css-scroll-buttons">
  <button class="css-button-up<% if (disableScrollUp) { %> css-button-disabled<% } %>"></button>
  <button class="css-button-down<% if (disableScrollDown) { %> css-button-disabled<% } %>"></button>
</div>